name: Test Solution

on:
  push:
    #branches: [ master ]
  pull_request:
    #branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore Test/Eliot.UELib.Test.csproj
      
    - name: Build
      run: dotnet build Test/Eliot.UELib.Test.csproj --no-restore
      
    - name: Test
      run: dotnet test Test/Eliot.UELib.Test.csproj --no-build --verbosity normal
